body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #35424a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

footer {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
